
h1{
    text-align: center;
    color: darkorange;
    background-color: black;
}
table{
    align-items: center;
    color:blue;
    background-color: aqua;
}
form{
    background-color: antiquewhite;
    }
